<div class="navbar-local color-accent theme-dark">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#oo-docs-navigation">
                <span class="sr-only">Toggle navigation</span>
                <i class="glyph glyph-hamburger"></i>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="oo-docs-navigation">
            <ul class="nav navbar-nav">
                <li>
                    <a class="color-type-secondary" href="{{ site.baseurl }}/overview/en/overview/">Overview</a>
                </li>
                <li class="dropdown">
                    <a href="{{ site.baseurl }}/usecases/en/" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Use cases<i class="glyph glyph-chevron-down-2"></i></a>
                    <ul class="dropdown-menu" role="menu">
                        <!--        <li><a href="{{ site.baseurl }}/usecases/en/overview/">Übersicht</a></li>                          -->
                        <!--        <li><a href="{{ site.baseurl }}/usecases/en/bizagi/">Prozesssteuerung mit Bizagi BPMS</a></li>          -->
                        <li><a href="{{ site.baseurl }}/usecases/en/documentcreation/">Document creation</a></li>
                    </ul>
                </li>
                <li>
                    <a class="color-type-secondary" href="{{ site.baseurl }}/architecture/en/overview/">Architecture</a>
                </li>
                <li class="dropdown">
                    <a href="{{ site.baseurl }}/webclient/en/" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Web-Administration<i class="glyph glyph-chevron-down-2"></i></a>
                    <ul class="dropdown-menu" role="menu">
                        <!--		<li><a href="{{ site.baseurl }}/webclient/en/overview/">Übersicht</a></li>               -->
                        <li><a href="{{ site.baseurl }}/webclient/en/installation/">Setup</a></li>
                        <li><a href="{{ site.baseurl }}/webclient/en/konfiguration/">Configuration</a></li>
                        <!--		<li><a href="{{ site.baseurl }}/webclient/en/lizenz/">Lizenz</a></li>               -->
                        <li><a href="{{ site.baseurl }}/webclient/en/log/">Log</a></li>
                        <li><a href="{{ site.baseurl }}/webclient/en/ueberwachung/">Monitoring</a></li>
                        <li><a href="{{ site.baseurl }}/webclient/en/alarmierung/">Alerting</a></li>
                        <li><a href="{{ site.baseurl }}/webclient/en/statistik/">Statistics</a></li>
                    </ul>
                </li>
                <li>
                    <a class="color-type-secondary" href="{{ site.baseurl }}/addins/en/standardaddins/">Standard Add-Ins</a>
                </li>
                <li class="dropdown">
                    <a href="{{ site.baseurl }}/setup/en/" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Setup<i class="glyph glyph-chevron-down-2"></i></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="{{ site.baseurl }}/setup/en/requirements/">Requirements</a></li>
                        <li><a href="{{ site.baseurl }}/setup/en/scenarios/">Setup scenarios</a></li>
                        <li><a href="{{ site.baseurl }}/setup/en/oneconnexx/">OneConnexx-Service</a></li>
                        <li><a href="{{ site.baseurl }}/setup/en/alerting/">Alerting-Service</a></li>
                        <li><a href="{{ site.baseurl }}/setup/en/web/">Web-Administration</a></li>
                        <li><a href="{{ site.baseurl }}/setup/en/db/">Database</a></li>
                        <li><a href="{{ site.baseurl }}/setup/en/releasenotes/">Version history</a></li>
                    </ul>
                </li>

                <li>
                    <a class="color-type-secondary" target="_blank" href="https://www.sevitec.ch/en/contact/">Contact</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a class="lang" href="{{ site.baseurl }}/de">de</a>
                </li>
                <li>
                    <a class="lang" href="{{ site.baseurl }}/en">en</a>
                </li>
            </ul>
        </div>

    </div>
</div>