html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 80px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: rgba(0,0,0,.05);
}

.navbar-brand .one {
    color: #1C1C1B;
	margin-top: 5px;
	vertical-align: bottom;
}

.navbar-brand .connexx {
    color: #52AE32;
	margin-top: 5px;
	vertical-align: bottom;
}
.navbar-brand > img{
	display: inline;
	height: 21px;
}
.color-accent{
	background-color: #52AE32;
}

.dropdown-menu > li{
	background-color: #52AE32 !important;	
}

.subelement{
	padding-left: 5px;
}