html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 80px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: rgba(0,0,0,.05);
}

.navbar-brand .one {
	color: #1C1C1B;
	font-family:"Gill Sans";
	margin-top: 5px;
	vertical-align: bottom;
	font-weight: bold;
	height: 50px;
	font-size: 18px;
  	line-height: 20px;
}

.navbar-brand .connexx {
	color: #52AE32;
	font-family:"Gill Sans";
	margin-top: 5px;
	vertical-align: bottom;
	font-weight: bold;
	height: 50px;
	font-size: 18px;
  	line-height: 20px;
}

.navbar-brand > img{
	display: inline;
	height: 21px;
}

.color-accent{
	background-color: #52AE32;
}

.dropdown-menu > li{
	background-color: #52AE32 !important;	
}

.subelement{
	padding-left: 25px !important;
}
