<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <meta http-equiv="X-UA-Compatible" content="chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  
  <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon" />


  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/winstrap.min.css?0.5.10" />
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/syntax-highlighter.css" />
  
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/site.css" />
  <script src="{{ site.baseurl }}/assets/js/vendor/jquery.min.js"></script>
  <!--[if lt IE 9]>
        <script src="{{ site.baseurl }}/assets/js/vendor/html5shiv.min.js"></script>
        <script src="{{ site.baseurl }}/assets/js/vendor/respond.min.js"></script>
    <![endif]-->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
  <title>OneConnexx Docs // {{ page.title }}</title>
</head>
<body>

  <nav class="navbar navbar-default">

    <div class="navbar-global theme-default">
      <div class="container">
        <div class="navbar-header">
          <a href="https://docs.oneconnexx.com/" class="navbar-brand">            			
			 <img src="{{ site.baseurl }}/assets/content-images/logo.png" alt="OneConnexx" height="32" />       
          </a>
        </div>
      </div>
    </div>


    <div class="navbar-local color-accent theme-dark">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#oo-docs-navigation">
                        <span class="sr-only">Toggle navigation</span>
                        <i class="glyph glyph-hamburger"></i>
                    </button>

          <a href="{{ site.baseurl }}" class="navbar-brand">
            <i class="fa fa-book" aria-hidden="true"></i> Docs
          </a>

        </div>
        <div class="collapse navbar-collapse" id="oo-docs-navigation">
          <ul class="nav navbar-nav">
            <li>
              <a class="color-type-secondary" href="{{ site.baseurl }}/overview/de/overview/">Übersicht</a>
            </li>
            <li class="dropdown">
              <a href="{{ site.baseurl }}/usecases/de/" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Anwendungsbeispiele<i class="glyph glyph-chevron-down-2"></i></a>
              <ul class="dropdown-menu" role="menu">
<!--        <li><a href="{{ site.baseurl }}/usecases/de/overview/">Übersicht</a></li>                          -->
<!--        <li><a href="{{ site.baseurl }}/usecases/de/bizagi/">Prozesssteuerung mit Bizagi BPMS</a></li>          -->
		<li><a href="{{ site.baseurl }}/usecases/de/documentcreation/">Dokumentendienst</a></li>
              </ul>
            </li>
            <li>
              <a class="color-type-secondary" href="{{ site.baseurl }}/architecture/de/overview/">Architektur</a>
            </li>
            <li class="dropdown">
              <a href="{{ site.baseurl }}/webclient/de/" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Web-Administration<i class="glyph glyph-chevron-down-2"></i></a>
              <ul class="dropdown-menu" role="menu">
<!--		<li><a href="{{ site.baseurl }}/webclient/de/overview/">Übersicht</a></li>               -->
        <li><a href="{{ site.baseurl }}/webclient/de/installation/">Installation</a></li>               
		<li><a href="{{ site.baseurl }}/webclient/de/konfiguration/">Konfiguration</a></li>
<!--		<li><a href="{{ site.baseurl }}/webclient/de/lizenz/">Lizenz</a></li>               -->
		<li><a href="{{ site.baseurl }}/webclient/de/log/">Log</a></li>
                <li><a href="{{ site.baseurl }}/webclient/de/ueberwachung/">Überwachung</a></li>        
                <li><a href="{{ site.baseurl }}/webclient/de/alarmierung/">Alarmierung</a></li>
		<li><a href="{{ site.baseurl }}/webclient/de/statistik/">Statistik</a></li>
              </ul>
            </li>
            <li>
                <a class="color-type-secondary" href="{{ site.baseurl }}/addins/de/standardaddins/">Standard Add-Ins</a>
            </li>
            <li class="dropdown">
              <a href="{{ site.baseurl }}/setup/de/" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Installation<i class="glyph glyph-chevron-down-2"></i></a>
              <ul class="dropdown-menu" role="menu">
		<li><a href="{{ site.baseurl }}/setup/de/requirements/">Systemvoraussetzungen</a></li>               
                <li><a href="{{ site.baseurl }}/setup/de/scenarios/">Installationsszenarien</a></li>               
		<li><a href="{{ site.baseurl }}/setup/de/oneconnexx/">OneConnexx-Service</a></li>
		<li><a href="{{ site.baseurl }}/setup/de/alerting/">Alerting-Service</a></li>
		<li><a href="{{ site.baseurl }}/setup/de/web/">Web-Administration</a></li>
		<li><a href="{{ site.baseurl }}/setup/de/db/">Datenbank</a></li>
		<li><a href="{{ site.baseurl }}/setup/de/releasenotes/">Versionshinweise</a></li>
              </ul>
            </li>

            <li>
                <a class="color-type-secondary" target="_blank" href="https://www.sevitec.ch/kontakt.aspx">Kontakt</a>
             </li>
          </ul>
        </div>

      </div>
    </div>
  </nav>


  {{content}}

  <footer class="footer">
    <div class="container">
      <a style="font-size: 18pt" title="Improve on GitHub" href="{{ site.github_repo_url }}edit/gh-pages/{{ page.path }}"><i class="fa fa-github-square"></i></a>

      <p class="pull-right">Sevitec Informatik AG&nbsp;&nbsp;&nbsp;I&nbsp;&nbsp;&nbsp;Bahnhofstrasse 4&nbsp;&nbsp;&nbsp;I&nbsp;&nbsp;&nbsp;8360
        Eschlikon&nbsp;&nbsp;&nbsp;I&nbsp;&nbsp;&nbsp;Switzerland
      </p>

    </div>
  </footer>
  <script src="{{ site.baseurl }}/assets/js/vendor/bootstrap.min.js"></script>
</body>

</html>
